<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.scaledl.usageevolution Target Platform" sequenceNumber="2">
	<locations>
		<location type="Target" uri="mvn:org.palladiosimulator:palladio-target-platforms:0.1.0:target:palladio-2023-03"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="de.uka.ipd.sdq.stoex.feature.feature.group" version="0.0.0"/>
			<unit id="de.uka.ipd.sdq.errorhandling.feature.feature.group" version="0.0.0"/>
			<unit id="de.uka.ipd.sdq.probfunction.math" version="0.0.0"/>
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/5.2.2/"/>
		</location>
		<!-- Zyklische Abhängigkeit zwischen pcm.feature und editors.commons -->
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.eclipse.gmf.runtime.notation.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2023-03/202303151000/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.descartes.dlim.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-limbo/releases/5.2.2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-emfeditutils/releases/1.0.0/"/>
		</location>
	</locations>
</target>
